.card {
  width: 6rem;
  height: 12rem;
  margin-top: 1rem;
  border-radius: 0.1rem;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 0.35rem;
}

.imbd-container {
  width: 1.6rem;
  height: 0.45rem;
  display: flex;
  margin-top: 0.2rem;
  align-items: center;
}
.card-imbd {
  width: 0.75rem;
  margin-right: 0.3rem;
}

.card-point {
  font-style: normal;
  font-weight: 700;
  font-size: 0.3rem;
}

.card-year {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 0.32rem;
  color: #f5c518;
  display: flex;
  justify-content: flex-start;
  margin-top: 0.3rem;
}

.card-name {
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 0.35rem;
}

.card-detail {
  font-weight: 500;
  font-size: 0.25rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.img-container {
  position: relative;
}

.card-heart {
  width: 30px;
  height: 30px;
  color: #f5c518;
  border-radius: 50%;
  position: absolute;
  bottom: 0.55rem;
  right: 0.35rem;
  font-size: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  cursor: pointer;
}

.bottom-side {
  padding: 0 0.1rem 0.1rem 0.1rem;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  row-gap: 0.4rem;
  column-gap: 1rem;
}

.card-overview {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  background-color: #f5c518;
  width: 2.2rem;
  height: 0.75rem;
  font-size: 0.45rem;
  border-radius: 5px;
  text-align: center;
  padding-top: 3px;
}
