.filter {
  width: 100%;
  height: 90%;
  background-color: white;
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.49);
  padding: 0 1rem 0 1rem;
}

.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  border-radius: 4px;
  width: 2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-dropdown select {
  font-size: 0.35rem;
  font-weight: normal;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #636363;
  text-align: center;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* .year-container {
  width: 2.5rem;
  height: 1.2rem;
  background: #f3f3f3;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.year-container > select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding-left: 0.6rem;
  color: #636363;
  cursor: pointer;
  font-size: 0.35rem;
}

.type-container {
  width: 3rem;
  height: 1.2rem;
  background: #f3f3f3;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-container > select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding-left: 0.7rem;
  color: #636363;
  cursor: pointer;
  font-size: 0.35rem;
} */

.filter-search {
  width: 11rem;
  height: 1.2rem;
}

.filter-button {
  width: 3rem;
  height: 1.2rem;
  background: #f3f3f3;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-button > button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  color: #636363;
  cursor: pointer;
  font-size: 0.35rem;
}
