.welcome {
  width: 100%;
  height: 9rem;
  /* border: 2px solid tomato; */
}

.welcome > .wbackground {
  width: 100%;
  height: 9rem;
  position: absolute;
}

.wmovieup {
  width: 5.8rem;
  height: auto;
  position: absolute;
  margin-top: 1.8rem;
  margin-left: 5.93rem;
}

.wcircle {
  width: 2.81rem;
  height: auto;
  position: absolute;
  margin-top: 1rem;
  margin-left: 6rem;
}

.wlorem {
  width: 10rem;
  height: auto;
  position: absolute;
  margin-top: 5rem;
  margin-left: 5.93rem;
}
.home-filter {
  position: absolute;
  width: 65%;
  height: 2rem;
  top: 9.7rem;
  margin-left: 17.5%;
  margin-right: 17.5%;

  /* border: 1px solid tomato; */
}

.popular-text {
  /* border: 1px solid tomato; */
  margin-top: 2rem;
  padding-left: 6rem;
}
.popular-text > img {
  width: 4.5rem;
}

.popular-slider {
  /* border: 1px solid tomato; */
  width: 100%;
  /* margin-left: 9.5%; */
  /* margin-right: 9.5%; */
  mask-image: linear-gradient(to right, transparent -5%, black 25%);
  /* mask-image: linear-gradient(to left, black, transparent); */
  /* mask-image: linear-gradient(to right, black, transparent); */
}

.popular-slider2 {
  width: 100%;
  mask-image: linear-gradient(to left, transparent -5%, black 25%);
}

.swiper {
  width: 100%;
  height: 100%;
  /* border: 1px solid tomato; */
}

.swiper-slide {
  text-align: center;
  font-size: 0.2rem;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* 
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
