.welcome {
  width: 100%;
  height: 400px;
}

.welcome > .wbackground {
  width: 100%;
  height: 400px;
  position: absolute;
}

.wmovieup {
  width: 15%;
  height: auto;
  position: absolute;
  margin-top: 5%;
  margin-left: 15%;
}

.wcircle {
  width: 7%;
  height: auto;
  position: absolute;
  margin-top: 2.5%;
  margin-left: 15%;
}

.wlorem {
  width: 27%;
  height: auto;
  position: absolute;
  margin-top: 12%;
  margin-left: 15%;
}
