html {
  font-size: 3rem;
}

@media only screen and (max-width: 1299px) {
  html {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 1.4rem;
  }

  .nav-input > input {
    padding-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 1.1rem;
  }

  .nav-input > input {
    padding-bottom: 0.3rem;
  }

  .nav-container {
    margin-left: 2rem;
  }

  .wmovieup {
    margin-left: 2rem;
  }

  .wcircle {
    margin-left: 2rem;
  }

  .wlorem {
    margin-left: 2rem;
  }

  .navigation {
    margin-left: 1rem;
    width: 3.5rem;
  }

  .navbar {
    padding-right: 2rem;
    /* padding-left: 5.5rem; */
  }
}
