.nav-input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.1rem;
  background: #f3f3f3;
}

.nav-input > input {
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 0.4rem;
  border-radius: 0.1rem;
  background: #f3f3f3;
}

.nav-input > input::placeholder {
  font-size: 0.3rem;
}

.search-icon > svg {
  color: #a4a4a4;
  width: 0.6rem;
  margin-top: 0.2rem;
}
